<%- include("partials/header") %>
    <form class="" action="/login" method="post">
      <input type="password" name="token" value="">
      <button type="submit" name="button">Login</button>
    </form>
<%- include("partials/footer") %>
